body, html, #dashboardcontainer{
    height: 100%;
    background: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
}

#leftsection{
    width: 23%;
    height: 87%;
    display: inline-block;
    /* outline: 2px dotted red; */
    /* padding-top: 1%; */
    /* float: left; */
    vertical-align: top;
    padding-top: 58px;
    /*overflow-y: scroll;*/
}
.dashsearch{
    padding: 5%;
    margin-bottom: 3%;
}

.dashsearch h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 5%;
}

.form-control{
    width: 85% !important;
    margin-left: 5%;
}

.daterange{
    width: 45% !important;
    display: inline-block !important;
    margin-left: 0%;
}

.price{
    display: block;
    /* margin-left: 3%; */
}

.coming-soon {
    position: absolute;
    margin: 0 auto;
}

.preftitle {
    display: block;
    margin-left: 4%;    
}

#leftsection .btn.btn-secondary{
    margin-left: 30%;
    margin-top: 3%;
    /* background-color: #35BFFF; */
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    /* border: 1px solid rgb(22, 138, 192); */
}


#middlesection{
    width: 53%;
    height: auto;
    display: inline-block;
    padding-top: 1%;
    margin-top: 4%;
    vertical-align: top;
    text-align: center;
    
    color:black;
    /* border: 3px inset lightgray; */
    /* overflow-y: scroll; */
}

#middlesection::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#middlesection::-webkit-scrollbar
{
	width: 12px;
    background-color: #F5F5F5;
    display: none;
}

#middlesection::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.vendordetails .btn.btn-secondary{
    padding: 1%;
    display: inline-block;
    width: 95%;
    background-color: lightgray;
    border-radius: 0px;
    border: 1px solid #6c757d;
    color: black;
    margin-bottom: 3%;
}

#middlesection .vendordetails button h4 {
    line-height: 0.6;
    font-weight: bold;
    color: black;
}

#middlesection .vendordetails button h5 {
    line-height: 0.9;
    font-weight: bold;
    color: black;
}

.venImg {
    display: inline-block;
    vertical-align: top;
    width: 15%;
}

.venContact {
    display: inline-block;
    width: 85%;
}

#leftsection::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#leftsection::-webkit-scrollbar
{
	width: 12px;
    background-color: #F5F5F5;
    display: none;
}

#leftsection::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#rightsection{
    width: 23%;
    height: auto;
    /* outline: 2px dotted red; */
    display: inline-block;
    /* float: right; */
    padding-top: 5%; 
    /* padding-top: 73px; */
    text-align: center;
    /* vertical-align: top; */
}

#rightsection .btn.btn-secondary{
    display: inline-block;
    width: 85%;
    margin-left: 15%;
    /* margin-top: 3%; */
    /* margin-bottom: 5%; */
    /* background-color: #35BFFF; */
    color: whitesmoke;
    font-weight: bold;
    font-size: 15px;
    border-radius: 0px;
    border: 0.1px solid lightgray;
    vertical-align: middle;
    
    /* border: 1px solid rgb(22, 138, 192); */
}

#rightsection .addbtn.btn.btn.btn-secondary {
    background-color: rgb(65, 60, 60);
}

.listevents h6 {
    font-weight: bold;
    color: whitesmoke;
}

#reqsbadge {
    background-color: black;
}

#leftsection .btn-secondary:hover, #rightsection .btn-secondary:hover{
    background-color: rgb(22, 138, 192);
    
}

label.sectionlabels {
    text-align: center;
}

#middlesection .result {
    text-align: left;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    color: darkslategray;
    border-radius: 5px;
    height: 80%;
    margin: 0 2%;
}

#middlesection .respic{
    width: 40%;
    max-height: 100%;
    height: 100%;
    vertical-align: top;
    border-radius:3px;
}

#middlesection .resinfo{
    width:58%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 2%;
}

#middlesection h4{
    font-weight: bold ;
    font-size: 20px;
    /* margin-bottom: 5%; */

}

#middlesection p{
    font-size: 11px;
}

#middlesection h5{
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1%;
    margin-top: 1%;
}

#middlesection a:hover{
    text-decoration: none;
}

#middlesection h5:hover{
    color: rgb(22, 138, 192);
}

#middlesection h6{
    font-size: 14px;
    margin-top: 12px;
}

#rightsection .result {
    text-align: left;
    background-color: white;
    color: darkslategray;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 5px;
    height: 30%;
    margin: 2% 2%;
}

#rightsection .respic{
    width: 40%;
    max-height: 100%;
    height: 100%;
    vertical-align: top;
    border-radius:5px;
}

#rightsection .resinfo{
    width:58%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding-top: 2%;
}

#rightsection h4{
    font-weight: bold;
    font-size: 16px;
    line-height: 10px;
}

/*VENDOR DASH SPECIFIC CSS*/
.allevents {
    display: inline-block;
    background-color: lightgray;
    border-radius: 5px;
    margin-bottom: 5%;
    /* width: 100%; */
    padding: 2%;
}

#middlesection.vendor h4, #middlesection.vendor h6 {
    margin: 2%;
}

.eventhead {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2%;
}

.eventhead h4, eventhead h5  {
    display: inline-block;
    color: black;
}

.eventleft {
    text-align: left;
    display: inline-block;
    width: 25%;
}

.eventleft img {
    
    height: auto;
    max-height: 150px;
    /* margin-top: 2%; */
}

.eventleft .btn.btn-secondary {
    width: auto;

}

.eventcenter {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 40%;
    

}

.eventcenter h6 {
    color: black;
    line-height: 0.8;
    font-weight: bold;
    
    /* padding-left: 14%; */
}

.eventright {
    display: inline-block;
}


.confevents {
    margin-bottom: 10%;
}

.eventdetails {
    background-color: lightgray;
    padding: 1%;
    margin: 3%;
    border-radius: 5px;
}

.eventdetails h6 {
    
    color: black;
}


/*END VENDOR DASH SPECIFIC CSS*/



/* #rightsection p{
    margin: 0;
    font-size: 9px;
    line-height: 10px;
} */
/* 
#rightsection h5{
    color: #35BFFF;
    font-size: 14px;
} */

#rightsection a:hover{
    text-decoration: none;
}

#rightsection h5 {
    color: black;
    font-weight: bold;
}

#rightsection h5:hover{
    color: rgb(22, 138, 192);
}

/* #rightsection h6{
    font-size: 10px;
    margin-top: 0px;
    margin-bottom: 6px;
} */

.share{
    background: white;
    border-radius: 5px;
    padding: 2%;
    height: 50%;
    margin-bottom: 2%;
}

#middlesection h3{
    font-size: 16px;
    margin: 0 0 2% 0;
}

.name{
   font-weight: bold; 
}






.preferred{
    width: 20%;
    border-radius: 20px;
    margin: 1%;
    height: 66%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);

}

.prefpics{
    margin-left: 3%;
    height: auto;
    width: 100%;
    padding-bottom: 5%;
}

.upevents{
    margin-top:4%;
}

#mylistings {
    padding: 4%;
}

#mylistings form .addlist.btn.btn-secondary {
    width: 60%;
    text-align: center;
    margin: 3% 0%;
    border-radius: 2.5px;
    border: 1px solid lightgray;
}

.listingandevents {
    margin-bottom: 5%;
}

.listingdetails {
    background-color: lightgray;
}

.listingdetails img {
    display: inline-block;
    vertical-align: top;
    height: auto;
    max-height: 75px;
    margin-top: 1%;
    padding: 1%;
    /* width: 35%; */
}

.listingdetails p {
    font-size: 10px;
    margin: 0px auto;
}

.leftdetail {
    text-align: left;
    display: inline-block;
    width: 35%;
}

.listinginfo {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 62%;
    height: auto;

}

.listinginfo h6 {
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 0.5;
    padding-left: 5%;
}



.mlslink {
    line-height: 1.5;
    color: black;
}

ul {
    list-style-type: none;
}

.modal-body {
    text-align: center;
}

.modal-result {
    align-content: center;
    text-align: center;
}

.modal-body img {
    width: 100%;
    display: block;
}

/* Phone devices */
@media screen and (max-width : 768px) {
    .share {
        padding-top: 30px;
    }

    #leftsection {
        width: 100%;
        height: auto;
        display: block;
        padding: 8% 5% 2% 5%;
    } 
    
    #middlesection,
    #rightsection {
        width: 100%;
        height: auto;
        display: block;
        padding: 5% 5% 2% 5%;
    }

    .prefpics {
        margin: 5% 2%;
        text-align: center;
    }

    .preferred {
        margin: 5%;
    }

    .row .form-control {
        width: 100% !important;
        margin: auto;
    }

    .daterangecontainer {
        display: flex;
        justify-content: space-between;
    }

    #leftsection form-group {
        margin: 10% auto !important;
    }

    #leftsection label {
        align-self: center;
    }

    #leftsection .btn-primary {
        margin: auto;
        width: 100%;
    }

    #middlesection .result {
        margin: 30px 0px;
        padding: 30px 0px;
        box-sizing: border-box;
    }

    #middlesection .respic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 80%;
        border-radius:3px;
    }
    
    #middlesection .resinfo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        text-align: center;
        padding-top: 2%;
    }
    
}

@media screen and (max-width : 991px) and (min-width: 769px) {
    .share {
        padding-top: 30px;
    }

    #leftsection {
        width: 100%;
        height: auto;
        display: inline-block;
        padding: 7% 5% 2% 5%;
    }

    .dashsearch, .pref {
        display: inline-block;
        height: 80%;
    }

    .dashsearch {
        width: 55%;
        display: inline-block;
        vertical-align: top;
    }

    .pref {
        width: 40%;
    }

    #middlesection {
        width: 100%;
        height: auto;
        display: block;
        padding: 3% 5%;
    }

    #rightsection {
        width: 100%;
        height: auto;
        display: block;
        padding-top: 70px;
    }

    .prefpics {
        margin: 5% 2%;
        text-align: center;
    }

    .preferred {
        margin: 5%;
    }

    .row .form-control {
        width: 100% !important;
        margin: auto;
    }

    .daterangecontainer {
        display: flex;
        justify-content: space-between;
    }

    #leftsection form-group {
        margin: 10% auto !important;
    }

    #leftsection label {
        align-self: center;
    }

    #leftsection .btn-primary {
        margin: auto;
        width: 100%;
    }

    #middlesection .result {
        margin: 30px 0px;
        padding: 30px 0px;
        box-sizing: border-box;
    }

    #middlesection .respic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 80%;
        border-radius:3px;
    }
    
    #middlesection .resinfo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        padding-top: 2%;
    }

    .result {
        height: 200px;
    }

    #rightsection .btn {
        display: block;
        margin: auto;
        width: 100%;
        align-content: center;
    }

}

/* Large devices */
@media only screen and (min-device-width : 1100px) {

    #rightsection .btn {
        display: block;
        margin: auto;
        width: 100%;
        align-content: center;
    }

    
    
}
