html {
    height: 100%;
}

.container {
    padding-top: 5%;
}

#eventcontainer h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
}

#eventcontainer.event-details h4 {
    text-align: center;
}

#eventcontainer.resinfo h4 {
    text-align: left;
}

h5.resinfo {
    font-weight: bold;
}

.col-4 {
    display: inline-block;
    vertical-align: top;   
}

.eventvendors h4 {
    margin-top: 10%;
    text-align: center;
}

.close {
    display: inline-block;
    text-align: right;
}

#right-section {
    text-align: right;
}

#right-section form {
    display: inline-block;
}

.confirm.btn.btn-secondary {
    border-radius: 50%;
    width: 75px;
    height: 75px;   
}

.join.btn.btn-secondary {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    
}

/* Phone devices */
@media screen and (max-width : 768px) {
    .share {
        padding-top: 30px;
    }

    #leftsection,
    #middlesection,
    #rightsection {
        width: 100%;
        height: auto;
        display: block;
        padding: 5%;
    }

    .prefpics {
        margin: 5% 2%;
        text-align: center;
    }

    .preferred {
        margin: 5%;
    }

    /* .row .form-control {
        width: 100% !important;
        margin: auto;
    } */

    .daterangecontainer {
        display: flex;
        justify-content: space-between;
    }

    #leftsection form-group {
        margin: 10% auto !important;
    }

    #leftsection label {
        align-self: center;
    }

    #leftsection .btn-primary {
        margin: auto;
        width: 100%;
    }

    #middlesection .result {
        margin: 30px 0px;
        padding: 30px 0px;
        box-sizing: border-box;
    }

    #middlesection .respic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 80%;
        border-radius:3px;
    }
    
    #middlesection .resinfo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        padding-top: 2%;
    }

    button {
        background-color: transparent;
        border: none;
        width: 75%;
        padding: 0;
    }
    
}

/* Medium devices: 
fix navbar because it broke
fix form.dashsearch, form groups, and the search button, div.prefpics & its img in left section
maybe move the left section to the top, search and prefpics becomes inline-blocks?
 */
@media screen and (max-width : 991px) and (min-width: 769px) {
    .share {
        padding-top: 30px;
    }

    #leftsection {
        width: 100%;
        height: auto;
        display: inline-block;
        padding: 5%;
    }

    .dashsearch, .pref {
        display: inline-block;
        height: 80%;
    }

    .dashsearch {
        width: 55%;
    }

    .pref {
        width: 40%;
    }

    #middlesection,
    #rightsection {
        width: 100%;
        height: auto;
        display: block;
        padding: 5%;
    }

    

    .prefpics {
        margin: 5% 2%;
        text-align: center;
    }

    .preferred {
        margin: 5%;
    }
/* 
    .row .form-control {
        width: 100% !important;
        margin: auto;
    } */

    .daterangecontainer {
        display: flex;
        justify-content: space-between;
    }

    #leftsection form-group {
        margin: 10% auto !important;
    }

    #leftsection label {
        align-self: center;
    }

    #leftsection .btn-primary {
        margin: auto;
        width: 100%;
    }

    #middlesection .result {
        margin: 30px 0px;
        padding: 30px 0px;
        box-sizing: border-box;
    }

    #middlesection .respic{
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        width: 80%;
        border-radius:3px;
    }
    
    #middlesection .resinfo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        text-align: center;
        padding-top: 2%;
    }

    .result {
        height: 200px;
    }

    button {
        background-color: transparent;
        border: none;
        width: 75%;
        padding: 0;
    }

}

/* Large devices */
@media only screen and (min-device-width : 1100px) {

    #rightsection .btn {
        display: block;
        margin: auto;
        width: 100%;
        align-content: center;
    }  
}

.ultimatecontainer{
    background-image: url("../images/open-house.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 35px;
    height: 1000px;
}

/* .row .form-control {
    width: 100% !important;
    margin: auto;
} */

#eventcontainer {
    margin-top: 15px;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: inline-block;
}

#event-details .resinfo a h4 {
    color: black;
    padding: 0;
    text-align: left;
    display: inline-block;
    width: auto;
    margin-bottom: -10px;
}



.listingevents {
    background-color: rgba(0, 0, 0, 0.747);
    width: 25%;
    text-align: right;
    padding: 5px;
    margin-left: 244px;
    margin-bottom: 15px;
}

.listingevents li {
    border: 1px solid black;
    
}

.respic{
    /* margin: 3%; */
    /* height: auto;
    width: 100%; */
}

.resinfo.col-4 a h4{
    display: inline-block;
    text-align: left;
   
}

#eventcontainer h6{
    /* font-size: 20px; */
}
 
#eventcontainer.shadow-box.mb-4 {
    padding: 10px;
} 

#eventcontainer button {
    margin-bottom: 10%;
}

#eventcontainer button h4 {
    color: black;
    font-size: 16px;
    line-height: 1;
    text-align: left;
}

#eventcontainer h4 {
    color: black;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    /* text-align: center; */
}

#eventcontainer h6 {
    color: black;
    /* font-weight: bold; */
    
    line-height: 1;
    text-align: left;
}

.event-details {
    display: inline-block;
    /* margin-top: 15px; */
    margin-left: auto;
    margin-right: auto;
    height: auto; 
    text-align: left;
}

.event-details h5 {
    font-weight: bold;
    /* margin-top: 50px; */
    font-size: 14pt;
}

.vendor-req {
    display: inline-block;
}

.vendors {
    margin: 20px 20px auto;
    height: 100px;
    width: auto;
}

.preferred {
    width: 80%;
    height: auto;
}

.social {
    margin: 10px 20px auto;
    height: 50px;
    width: auto;
}

#share-ig, #share-fb, #share-tweet, #share-email {
    overflow: visible;
}

#share-ig a, #share-fb a, #share-tweet a, #share-email a {
    overflow: visible;
    color: #333333;
    font-size: 10pt;
}

.modal {
    display: block;
    margin: 0 auto;
    width: 350px;
    height: 125px;
    background-color: rgb(22, 138, 192);
    margin-top: 300px;
    font-size: 14pt;
    font-weight: bold;
}

button {
    background-color: transparent;
    border: none;
    width: 75%;
    padding: 0;
}







