body, html, .ultimatecontainer{
    height: 100%;
}

.ultimatecontainer{
    background-image: url("../images/open-house.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    padding-top: 100px;
}



label{
    color: whitesmoke;
    font-size: 20px;
}

.form-control{
    height: 50px;
    font-size: 16px;
    padding: 12px 12px;
    color: #202020;
}

select#AreaOfHouse.form-control {
    height: 35px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #202020;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #202020;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #202020;
}

.checkbox input {
    margin-left: 0!important;
}

a:hover{
    text-decoration: none;
}

.regbox {
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    box-shadow: 2px 2px;
    margin: 3% 10%;
    padding: 0% 3%  1em;
    display: inline-block; 
    width: 500px;
}

.regbox h4 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 28px;
    line-height: 30px;
    text-align: center;
}

.btn-primary{
    margin-left: 35%;
    margin-top: 3%;
    background-color: #35BFFF !important;
    color: whitesmoke !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.btn-primary:hover{
    background-color: rgb(22, 138, 192) !important;
}

.list-desc {
    margin-top: 2%;
}

.social {
    height: 45px;
    width: auto;
}

.conf-events {
    margin-bottom: 5%;
}

.vendors {
    display: inline-block;
    margin-right: 1%;
}

.vendors button {
    background-color: none;
    border: 0px none;
    padding: 0;
}

.conf-events h4 {
    font-weight: bold;
}

.conf-events h5 {
    text-align: left;
}

.event-info {
    background-color: lightgray;
    border-radius: 2.5px;
    padding: 2%;
    margin-bottom: 5%;
}

a.event-link {
    color: black;
    font-weight: bold;
}

#reqsbadge {
    background-color: black;
}

.add-event-form {
    margin-top: 10%;
}


