body, html, .profilecontainer{
  height: 100%;
  width: 100%;
  background: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
}

.user-details {
  display: inline-block;
  margin: 5% 1%;
  vertical-align: center;
}

/* Vendor will be logo and Broker will be picture of self */
.profile-pic{
  display: inline-block;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}


.user-info {
  display: inline-block;
  vertical-align: bottom;
}

.user-info h5, .user-contact h5, .user-bio h5 {
  margin: 0px;
}

.user-bio {
  margin-top: 15%;
}

.user-contact {
  margin-top: 25%;
}

.user-conf-events {
  display: inline-block;
  vertical-align: top;
  margin: 5% 1%;
}

.user-pend-events {
  display: inline-block;
  vertical-align: top;
  margin: 5% 1%;
}

.event-details {
  background-color: lightgray;
  color: black;
  border-radius: 2.5px;
  padding: 2%;
  margin-bottom: 5%;
}





/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

 



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }