@{
    ViewData["Title"] = "Adding Events";
}

@model Event

@section css {
    <link href="@Url.Content("~/css/addeventsstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/nav.css")" rel="stylesheet" type="text/css" />
}

<head>
</head>

<header>
    <img src="../images/white-nosub-inflogo.png" alt="logo" class="white-logo">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/logoff">Sign out</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>

<div class="ultimatecontainer">
    <div class="container"> 
        <form class="regbox" role="form" action="/add-event/@ViewBag.listingId" method="POST">
        <h4>Create a new Open House event</h4>
            <div class="row">
                <!-- Fields common to all users -->
                <!-- but that's super wrong? - love, Hailey -->
                <div class="col-sm">
                    <div class="form-group">
                        <span asp-validation-for="OpenHouseDate"></span>
                        <label for="OpenHouseDate">Open House Date</label>
                        <input type="date" asp-for="OpenHouseDate" class="form-control" id="ohdate">
                        <label for="OpenHouseTime">Open House Time</label>
                        <input type="time" asp-for="OpenHouseTime" class="form-control" id="ohtime">
                    </div>
                    <div class="form-group" id="addformgroup">
                        <span asp-validation-for="AreaOfHouse"></span>
                        <label for="AreaOfHouse">Featured Home Area</label>
                        <div class="row">
                            <div class="col">
                                <div class="checkboxes">
                                    <input type="checkbox" value="1">
                                    <label for="AreaOfHouse">Basement</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="2">
                                    <label for="AreaOfHouse">Bathroom</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="3">
                                    <label for="AreaOfHouse">Bedroom</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="4">
                                    <label for="AreaOfHouse">Dining Room</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="5">
                                    <label for="AreaOfHouse">Family / Media Room</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="6">
                                    <label for="AreaOfHouse">Garage</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="checkboxes">
                                    <input type="checkbox" value="7">
                                    <label for="AreaOfHouse">Kitchen</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="8">
                                    <label for="AreaOfHouse">Living Room</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="9">
                                    <label for="AreaOfHouse">Office</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="10">
                                    <label for="AreaOfHouse">Patio</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="11">
                                    <label for="AreaOfHouse">Yard</label>
                                </div>
                                <div class="checkboxes">
                                    <input type="checkbox" value="12">
                                    <label for="AreaOfHouse">Other</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Event</button>
                </div>
            </div>    
        </form>
    </div>
</div>