@{
    ViewData["Title"] = "Adding Events";
}

@model Event

@section css {
    <link href="@Url.Content("~/css/addeventsstyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/nav.css")" rel="stylesheet" type="text/css" />
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#AreaOfHouse').change(function() {
                if ($(this).val() === 'Other'){
                    $('#addformgroup').after( $("<div class='form-group' id='otherbox'><label for='Other'>Please enter Other home area to be featured below.</label><textarea class='form-control' type='text' id='Other' placeholder='Enter Other Home Area' rows='1'></textarea></div>") );
                } else if ($(this).val() != 'Other'){
                    $("#otherbox").hide(function(){
                })

                }
            });
        });
    </script>
</head>

<header>
    <img src="../images/white-nosub-inflogo.png" alt="logo" class="white-logo">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <nav>
        <ul>
        <li><a href="/dashboard">Home</a></li>
        <li><a href="/logoff">Sign out</a></li>
        </ul>
    </nav>
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
</header>

<div class="ultimatecontainer">
    <div class="container"> 
        <form class="regbox" role="form" action="/add-event/@ViewBag.listingId" method="POST">
        <h4>Create a new Open House event</h4>
            <div class="row">
                <!-- Fields common to all users -->
                <!-- but that's super wrong? - love, Hailey -->
                <div class="col-sm">
                    <div class="form-group">
                        <span asp-validation-for="OpenHouseDateTime"></span>
                        <label for="OpenHouseDateTime">Open House Date</label>
                        <input type="date" asp-for="OpenHouseDateTime" class="form-control" id="ohdate">
                        <label for="OpenHouseDateTime">Open House Time</label>
                        <input type="time" asp-for="OpenHouseDateTime" class="form-control" id="ohtime">
                    </div>
                    <div class="form-group" id="addformgroup">
                        <span asp-validation-for="AreaOfHouse"></span>
                        <label for="AreaOfHouse">Featured Home Area</label>
                        <select class="form-control" asp-for="AreaOfHouse" id="AreaOfHouse" placeholder="Please select one">
                            <!-- make it select multiple and make it a list of area of house options maybe? Or change value to area of house ID and do that in the backend -->
                            <!-- now we can loop through _context.areas for this, I will just have to add it to the view model -->
                            <option value="" disabled selected="selected">Please select one</option>
                            <option value="Yard">Yard</option>
                            <option value="Kitchen">Kitchen</option>
                            <option value="Bathroom">Bathroom</option>
                            <option value="Bedroom">Bedroom</option>
                            <option value="Living">Living Room</option>
                            <option value="Dining">Dining Room</option>
                            <option value="Family">Family / Media Room</option>
                            <option value="Garage">Garage</option>
                            <option value="Office">Office</option>
                            <option value="Patio">Patio</option>
                            <option value="Basement">Basement</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <!-- <div class="form-group">
                        <label for="Other">If "Other" is Selected, please enter home area to be featured below.</label>
                        <textarea class="form-control" type="text" id="Other" placeholder="Enter Other Home Area" rows="1"></textarea>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Add Event</button>
                </div>
            </div>    
        </form>
    </div>
</div>